.row
  .col-md-8
    = simple_form_for(@budget_item) do |f|
      = f.error_notification

      .form-inputs
        = f.association :campaign
        = f.input :title
        = f.input :is_expense, as: :radio_buttons, collection: {' Поступления': false, ' Траты': true}, label: false
        = f.input :amount

        .row
          .form-actions
            = f.button :submit
