%h1 Listing budget_items

%table.table
  %thead
    %tr
      %th Campaign
      %th Title
      %th Type
      %th Amount
      %th
      %th
      %th

  %tbody
    - @budget_items.each do |budget_item|
      %tr
        %td= link_to budget_item.campaign.title, budget_item.campaign
        %td= budget_item.title
        %td= budget_item.earning? ? "Доходы" : "Расходы"
        %td= budget_item.amount
        %td= link_to 'Show', budget_item
        %td= link_to 'Edit', edit_budget_item_path(budget_item)
        %td= link_to 'Destroy', budget_item, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br
= link_to 'Добавить статью бюджета', new_budget_item_path(campaign_id: @campaign_id)
