%p#notice= notice

%p
  %b Campaign:
  = link_to @budget_item.campaign.title, @budget_item.campaign
%p
  %b Title:
  = @budget_item.title
%p
  %b Amount:
  = @budget_item.amount

= link_to 'Edit', edit_budget_item_path(@budget_item)
\|
= link_to 'Back', budget_items_path
