%h1 Вопросы и ответы

.accordion#faq-accordion

  = render layout: '/pages/faq_item', locals: {id: 0, question: 'Что это за сайт?'} do
    Это краудфандинговая платформа для сбора денег на проекты, реализуемые Минским велосипедным обществом. Создание велоинфраструктуры,
    различные мероприятия и остальная деятельность, которой занимается МВО, требует ресурсов на её осуществление. Чтобы не быть
    зависимыми от сторонних спонсоров и грантов, мы решили попробовать собрать нужные деньги краудфандингом.

  = render layout: '/pages/faq_item', locals: {id: 1, question: 'Куда собираются деньги?'} do
    Все перечисленные деньги попадают на счёт ОО «Минское велосипедное общество»,
    откуда используются на нужды того проекта, на который были пожертвованы.

  = render layout: '/pages/faq_item', locals: {id: 2, question: "Какая комиссия при переводе денег и кто её уплачивает?"} do
    В случае оплаты карточкой с каждого платежа уплачивается в общей сложности 3% в пользу
    платёжного агрегатора bePaid и банка-эквайера, при оплате через ЕРИП комиссия
    составляет 0,2%, так как по правилам ЕРИП для благотворительных платежей комиссия снижена.
    В любом случае, комиссия уплачивается Минским велосипедным обществом, а не плательщиком.

  = render layout: '/pages/faq_item', locals: {id: 3, question: "А почему не использовать готовые площадки для краудфандинга?"} do
    %p
      Во-первых, нам хотелось, чтобы все наши околовелосипедные проекты были собраны в одном месте, чтобы их
      можно было найти и после окончания активной фазы сбора средств.
      На других площадках, таких, как «Улей», «МолаМола» и «Талака», есть много других проектов, среди которых наши бы затерялись.
      Та же «Талака», например, позволяет, кроме собственно сбора средств, искать людей в команду, получать консультации
      у экспертов и имеет другие «плюшки», безусловно, полезные, но рассчитанные на довольно крупные и сложные проекты. Мы
      же планируем собирать на небольшие, простые и понятные действия.
    %p
      Во-вторых, комиссия сторонних площадок немаленькая: «Улей» и «МолаМола» берут в общей сложности 10% и 6% соответственно
      (включая комиссии банка), информацию
      по комиссиям в «Талаке» навскидку найти не удалось, но порядок сумм примерно такой же. Это оправданная цена за услуги
      площадок, но в нашем случае нам показалось, что мы сможем обойтись своими силами.
    %p
      Кроме того, все наши краудфандинговые площадки рассчитаны на сбор в пользу физических лиц, а не организаций, что для нас
      является заметным неудобством с точки зрения прозрачности отчётности и налоговых вопросов.

  = render layout: '/pages/faq_item', locals: {id: 4, question: "А что произойдёт, если деньги на проект не соберутся?"} do
    Зависит от проекта и того, какой суммы не хватает. Либо сократим бюджет, либо меньше сделаем, либо,
    если собрали совсем мало, направим на другие проекты. МВО само инициирует сбор денег и заинтересовано в том,
    чтобы проекты всё-таки получилось сделать.

  = render layout: '/pages/faq_item', locals: {id: 5, question: "Безопасно ли давать вам данные своей карточки?"} do
    Для проведения платежей мы используем сервис компании bePaid, отвечающий всем требованиям безопасности платёжных систем.
    Данные карточки вводятся на странице bePaid, и к нам не поступают. Мы видим лишь e-mail, указанный вами при платеже картой, и
    сумму перевода. e-mail используется лишь для подтверждения того, что деньги получены, и для ведения внутренней статистики.
