%p#notice= notice

%h3 Платёж

%p
  %b Кампания:
  = @payment.campaign.title if @payment.campaign
%p
  %b Статья бюджета:
  = @payment.budget_item.title unless @payment.budget_item.nil?
%p
  %b Дата и время:
  = @payment.time

- if user_signed_in?
  %p
    %b Номер:
    = @payment.payment_number
  %p
    %b Плательщик:
    = @payment.contributor
  %p
    %b Примечания:
    %pre
      = @payment.notes

= link_to 'Edit', edit_payment_path(@payment)
\|
= link_to 'Back', payments_path
