%table.table
  %thead
    %tr
      %th Статья
      %th Приход
      %th Расход
  %tbody
    - budget.each do |bi|
      %tr{class: bi.expense? ? 'expense' : 'earning'}
        %td= bi.title
        %td= bi.amount if bi.earning?
        %td= bi.amount if bi.expense?
    %tr
      %td.text-md-right ИТОГО:
      %td= budget.map {|i| i.earning? ? i.amount : 0}.inject(0, :+)
      %td= budget.map {|i| i.expense? ? i.amount : 0}.inject(0, :+)

