%table
  %tr
    %th Статья
    %th Приход
    %th Расход
  - campaign.budget_items.each do |bi|
    %tr
      %td= bi.title
      %td= bi.amount if bi.earning?
      %td= bi.amount if bi.expense?
  %tr
    %td ИТОГО:
    %td= campaign.budget_items.map {|i| i.earning? ? i.amount : 0}.inject(0, :+)
    %td= campaign.budget_items.map {|i| i.expense? ? i.amount : 0}.inject(0, :+)

