%table.table
  %thead
    %tr
      %th Статья
      %th Приход
      %th Расход
      %th Выполнение
      - if user_signed_in?
        %th
  %tbody
    - budget.each do |bi|
      %tr{class: bi.expense? ? 'expense' : 'earning'}
        %td= bi.title
        %td= bi.amount if bi.earning?
        %td= bi.amount if bi.expense?
        %td
          .progress
            .progress-bar{style: "width: #{number_to_percentage(Payment.sum_for_bi(bi) / bi.amount * 100, precision: 0)}"}
              %span.label-centered= number_to_percentage(Payment.sum_for_bi(bi) / bi.amount * 100, precision: 1)
        - if user_signed_in?
          %td= link_to 'Изменить', edit_budget_item_path(bi)
    %tr
      %td.text-md-right ИТОГО:
      %td= budget.map {|i| i.earning? ? i.amount : 0}.inject(0, :+)
      %td= budget.map {|i| i.expense? ? i.amount : 0}.inject(0, :+)

%p
  = link_to_if user_signed_in?, 'Добавить статью бюджета', new_budget_item_path(campaign_id: @campaign.id)

