.row
  %p.text-success#notice= notice

.row
  %h1.text-center= @campaign.title

.row
  .col-md-8
    = image_tag @campaign.title_image.image.campaign_title.url unless @campaign.title_image.blank?

  .col-md-4
    .row
      %h4
        = @campaign.funded
        руб.
      из
      %strong= @campaign.target
      руб. (
      = number_to_percentage(100 * @campaign.funded / @campaign.target, precision: 0)
      )
      .progressbar
        .progressbar-funded{style: "width: #{fraction_to_percent_with_limit(@campaign.funded / @campaign.target, precision: 0)}"}
      Дней осталось:
      %strong=remain_days(@campaign)

    .row
      %h4
        = @campaign.spent
        руб.
      из
      %strong= @campaign.budget_expenses_amount
      (
      = number_to_percentage(100 * @campaign.spent / @campaign.budget_expenses_amount, precision: 0)
      ) потрачено
      .progressbar
        .progressbar-spent{style: "width: #{fraction_to_percent_with_limit(@campaign.spent / @campaign.budget_expenses_amount, precision: 0)}"}
   
    .row
      .links
        = link_to 'Бюджет проекта', campaign_budget_path(@campaign)
        |
        = link_to 'Платежи проекта', campaign_payments_path(@campaign)
      .links
        = link_to 'Редактировать', edit_campaign_path(@campaign)

.row
  .col-md-12
    %p= @campaign.short_description

    .fr-view
      = @campaign.description.html_safe


