%h1= @campaign.title

.row
  .col-md-6
    = image_tag @campaign.title_image.image.campaign_title.url, width: "100%" unless @campaign.title_image.blank?
  .col-md-6
    %p
      = "Для того, чтобы поддержать проект «#{@campaign.title}», сделайте пожертвование через систему ЕРИП (в любом интернет-банке, в терминалах приёма наличных или в кассах банков). Ищите нас по следующему пути: «Пожертвования, благотворительность -> Минское велосипедное общество», или по номеру услуги: 4355771."
    %p
      Вам понадобится ввести номер проекта, который вы хотите поддержать. Номер этого проекта —
      %strong= @campaign.id
      , запомните его. 
  
    %p
      Пока, к сожалению, у нас нет возможности принимать пластиковые карты напрямую, но мы работаем над этим :)
