!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    - set_meta_tags site: 'MVOfund'
    = display_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery?
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-light.bg-faded
      .container
        = link_to 'MVOfund', root_path, class: 'navbar-brand'
        %ul.nav.navbar-nav
          %li.nav-item{class: current_page?(campaigns_path) ? 'active' : nil}= link_to 'Проекты', campaigns_path, class: 'nav-link'
          %li.nav-item{class: current_page?(payments_path) ? 'active' : nil}= link_to 'Платежи', payments_path, class: 'nav-link' if user_signed_in?
          - if user_signed_in?
            %li.nav-item.dropdown
              %a.nav-link.dropdown-toggle{href: '#', id: 'navCreateDropdown', 'data-toggle': 'dropdown', 'aria-haspopup': true, 'aria-expanded': false} Создать
              .dropdown-menu{'aria-labelledby': 'navCreateDropdown'}
                = link_to 'Проект', new_campaign_path, class: 'dropdown-item'
                = link_to 'Платёж', new_payment_path, class: 'dropdown-item'
          %li.nav-item.float-xs-right
            = user_nav_link
          
    %header
      .container
        /%ol.breadcrumb
        /  = render_breadcrumbs tag: :li, separator: '', tag_class: 'breadcrumb-item', builder: BreadcrumbsBootstrap4Builder
        = render partial: 'shared/flash' unless flash.empty?
    .container
      %main
        = yield

    %footer.footer
      %nav.navbar.navbar-light.bg-faded
        .container
          %ul.nav.navbar-nav
            %li.nav-item
              = link_to 'ОО «Минское велосипедное общество»', 'http://bike.org.by', class: 'nav-link'
            %li.nav-item.float-xs-right
              = link_to 'Github', 'https://github.com/jekhor/MVOfund.git'
