!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no'}
    - set_meta_tags site: 'MVOfund'
    = display_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_tag "var AUTH_TOKEN = '#{form_authenticity_token}';" if protect_against_forgery?
    = csrf_meta_tags
  %body
    .container-fluid
      %nav.navbar.navbar-expand-lg.navbar-light.bg-faded
        %a.navbar-brand{href: root_path}
          = image_tag '/logo.png', width: 205, height: 79
        %button.navbar-toggler{type: 'button', 'data-toggle': 'collapse', 'data-target': '#navbarNav'}
          %span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNav
          %ul.navbar-nav
            %li.nav-item{class: current_page?(campaigns_path) ? 'active' : nil}
              = link_to 'Проекты', campaigns_path, class: 'nav-link'
            %li.nav-item{class: current_page?(pages_faq_path) ? 'active' : nil}
              = link_to 'Вопросы и ответы', pages_faq_path, class: 'nav-link'
            %li.nav-item
              = link_to 'Что ещё делает МВО?', 'https://bike.org.by/news/', class: 'nav-link'
          %ul.navbar-nav.ml-auto
            %li.nav-item
              = link_to 'Контакты', 'https://bike.org.by/kontakty/', class: 'nav-link'
            %li.nav-item{class: current_page?(payments_path) ? 'active' : nil}
              = link_to 'Платежи', payments_path, class: 'nav-link' if user_signed_in?
            - if user_signed_in?
              %li.nav-item.dropdown
                %a.nav-link.dropdown-toggle{href: '#', id: 'navCreateDropdown', 'data-toggle': 'dropdown', 'aria-haspopup': true, 'aria-expanded': false} Создать
                .dropdown-menu{'aria-labelledby': 'navCreateDropdown'}
                  = link_to 'Проект', new_campaign_path, class: 'dropdown-item'
                  = link_to 'Платёж', new_payment_path, class: 'dropdown-item'
            %li.nav-item.float-xs-right
              = user_nav_link

    %header
      .container-fluid
        = yield :header

    %main
      .container-lg
        = render partial: 'shared/flash' unless flash.empty?
        = yield

    %footer.footer
      %nav.navbar.navbar-light.bg-faded
        .container-lg
          %ul.nav.navbar-nav
            %li.nav-item
              = link_to 'ОО «Минское велосипедное общество»', 'http://bike.org.by', class: 'nav-link'
            %li.nav-item.float-xs-right
              = link_to 'Github', 'https://github.com/jekhor/MVOfund.git'
